<div class="container">
    <div class="borde green lighten-5 ppal">
        <div class="container">
            <h3 style="color:green">Registrar Inmueble</h3>
            <form [formGroup]="formularioCrear">
                <input formControlName="ubicacionDepartamentoInm" type="hidden">
                <input formControlName="ubicacionCiudadInm" type="hidden">
                <input formControlName="direccionInm" type="hidden">
                <input formControlName="linkYoutubeInm" type="hidden">
                <input formControlName="participacion" type="hidden">
                <input formControlName="estadoInm" type="hidden">
                <input formControlName="fechaActualizacion" type="hidden">
                <input formControlName="quienActualizo" type="hidden">
                <div class="input-field">
                    <input formControlName="codigoInm" type="text" name="codigoInm" required
                        placeholder="Ingrese el código del inmueble">
                </div>
                <div class="input-field">
                    <input formControlName="tipoInm" type="text" name="tipoInm" required
                        placeholder="Casa o apartamento">
                </div>
                <div class="input-field">
                    <input formControlName="tipoOferta" type="text" name="tipoOferta" required
                        placeholder="Alquiler o venta">
                </div>
                <div class="input-field">
                    <input formControlName="valor" type="text" name="valor" required
                        placeholder="Ingrese el valor de Venta o Alquiler">
                </div>
                <div class="input-field">
                    <input formControlName="imagenInm" type="text" name="imagenInm" required
                        placeholder="Ingrese la url del inmueble">
                </div>
                <div class="center">
                    <button (click)="CrearInmueble()" class="btn waves-effect green lighten-2" type="submit"
                        name="action">Registrar inmueble
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />